
/* Main style sheet, without color definitions */

body {
    font-family: helvetica, arial, sans-serif;
/*     margin-top: 115px; */
    margin-bottom: 32px;
}

a:link, a:visited {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
    counter-reset: header2 header3;
    text-align: center
}

.counter h2:before {
  counter-increment: header2;
  content: counter(header2) ". ";
} 

h2 {
    counter-reset: header3;
    text-indent: 0.5em;
}

.counter h3:before {
  counter-increment: header3;
  content: counter(header2) "." counter(header3) ". ";
} 

h3 {
    text-indent: 1em;
}

img {
    border: 0;
}

pre {
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    padding: 0.1cm;
}

caption {
    font-style: italic;
}

.fixed {
    table-layout: fixed;
}

.transparent {
    background: inherit;
}

#ads {
    text-align: center;
}

     /*
#ads {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 105px;
}

#ads td {
    border: 0px;
}
     */

#menu {
    width: 100%;
    border-bottom: solid black 1px;
}

#menu ul {
    text-align: center;
}

#menu li {
    list-style-type: none;
    display: inline;
    padding: 1em;
}

#footer {
    border-top: solid black 1px;
}

#switcher {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    text-align: center;
    table-layout: fixed;
    color: inherit;
    background: inherit;
    font-style: italic;
    font-size: 8pt;
}

#switcher td {
    border: 0;
/*    padding: 0px; */
}

#switcher td.logo { 
    text-align: right;
}
